@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:wght@300;400;500&family=DM+Mono:wght@400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --font-playfair: "Playfair Display", serif;
  --font-dm-sans: "DM Sans", sans-serif;
}
